@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 0px;
}

#card{
    overflow-x: auto;
}

#card table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    text-align: center;
}

#cart table thead {
    border: 2px solid #393481;
}

#cart table thead td {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    text-align: center;
    font-size: 18px;
}

.task-form {
    margin: 40px;
}